html,
body {
    height: 100%;
    background-color: #b9ac9b;
}

.navbar {
    float: left;
    height: 260%;
    width: 21%;
    background-color: #eee0cf;
    float: left;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.navbar ul {
    list-style: none;
    display: block;
    padding-left: 0%;
    padding-right: 10px;
}

.navbar li {
    padding-bottom: 40px;
}

.navbar a:hover {
    font-size: 18px;
    text-decoration: underline;
}

.navbar a.active {
    font-size: 18px;
    text-decoration: underline;
}

#upload {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#uploadbtn {
    padding: 10px 20px;
    border: none;
    background-color: #cfc3b4;
    border-radius: 20%;
    cursor: pointer;
    font-size: 40px;
}

.fa-solid.fa-house,
.fa-solid.fa-bullhorn,
.fa-solid.fa-calendar,
.fa-solid.fa-chart-line,
.fa-solid.fa-user {
    font-size: 27px;
    padding-right: 10px;
    padding-left: 20px;
}

#welcome {
    background-color: #cfc3b4;
    height: 20%;
    padding-left: 30px;
    vertical-align: middle;
    margin-left: 22%;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
}

#homeAnnouncements {
    height: 50%;
    margin-left: 22%;
    font-size: 15px;
    padding-top: 15px;
}

#homeEvents {
    height: 50%;
    margin-left: 22%;
    font-size: 15px;
    padding-top: 15px;
}

#homeAccomplishments {
    height: 50%;
    margin-left: 22%;
    font-size: 15px;
    padding-top: 45px;
}

#Upcoming {
    height: 50%;
    margin-left: 22%;
    font-size: 15px;
    padding-top: 15px;
}

#upcoming {
    width: 18.8%;
    border: 1px black solid;
    float: left;
    height: 90%;
}

#homeAnnouncement {
    width: 18.8%;
    border: 1px black solid;
    float: left;
    height: 90%;
}

#homeEvent {
    width: 18.8%;
    border: 1px black solid;
    float: left;
    height: 90%;
}

#homeAccomplishment {
    width: 18.8%;
    border: 1px black solid;
    float: left;
    height: 90%;
}

#searchbar {
    background-color: #ddc9b1;
    height: 40px;
    font-size: 23px;
    color: #660303;
    font-weight: bold;
    border-radius: 36px;
    margin-left: 23%;
}

#searchbarcontent {
    padding-left: 30px;
    margin: auto;
}

#designation {
    height: 44%;
    margin-left: 24%;
    font-size: 18px;
    padding-top: 1px;
}

h1 {
    margin-left: 24%;
    font-size: 18px;
    padding-top: 1px;

}

.image-container {
    padding: 14px;
    
}

#fileInput {
    margin-left: 20px;
}

#uploadedImage {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: none;
}

.form-row{
    margin-left:24%;

}